#int:whole nums




#float:nums with decimals



#str: chain of characters

#lists:a sequence of items [a,' hello ',12]



#dict: unorderedkey:value pairs{"my key":'value','name':'frankie'}




#tup:ordered seq of objects(immutable)




#sets:unordered collection unique objects{'a','bye bye'}




#boolean:logical value indicating true or false

In [5]:
print(2-1)
print(2*2)
print(2/2)
print(7%4) 
print(50%5)
print(2**3)
print((2+10)*(10+2))
print((2+10)**2)
print(100**0.5)

1
4
1.0
3
0
8
144
144
10.0

In [1]:
#cannot start with a num,no spaces
number=5
print(number)
number=number+number
print(number)
type(number)

5
10

int

                                 STRINGS:15

In [6]:
print("hello there")
print("hello \nthere")
print("hello \t there")

hello there
hello
there
hello 	 there

In [1]:
a='Hello World'
len(a)

11

In [2]:
print(a[-1], a[2])

d l

In [ ]:
print(a[0:])
print(a[0:-2])
print(a[1:-3])
print(a[0::2])
print(a[::2])
print(a[::-2])

a=[]

a[2]= "c" will not work cause str are immutable

In [2]:
name='ZAYNUL'
firstletters=name[:3]
lastletters=name[3:]
print(firstletters)
print(lastletters)
#string cattenation
print(lastletters+firstletters+'!')
firstletters='a'+firstletters[1:]

ZAY
NUL
NULZAY!

In [3]:
name*3

'ZAYNULZAYNULZAYNUL'

In [5]:
a="heallo"
a.upper()

'HEALLO'

In [7]:
name.lower()

'zaynul'

In [8]:
a.split()

['Hello', 'World']

In [9]:
a.split('l')

['He', '', 'o Wor', 'd']

In [11]:
a.partition('l')

('He', 'l', 'lo World')







                                  .FORMAT

In [10]:
print('this is a {1} {0} string'.format('FORMATED','eee'))

this is a eee FORMATED string

In [11]:
print('this is a {2} {0} {1} '.format('FORMATED','TWICE','STRING'))
print('this is a {1} {0} {2} '.format('FORMATED','TWICE','STRING'))
print('this is a {2} {1} , {2} {2} '.format('FORMATED','TWICE','STRING'))
print('this is a {s} {t} , {s} {s} '.format(f='FORMATED',t='TWICE',s='STRING'))

this is a STRING FORMATED TWICE
this is a TWICE FORMATED STRING
this is a STRING TWICE , STRING STRING
this is a STRING TWICE , STRING STRING

In [20]:
result=12000

In [21]:
print('the result was {r:_.16f}'.format(r=result))

the result was 12_000.0000000000000000

In [10]:
print('the result was {r:12.9f}'.format(r=result))

the result was 1200.345200000

In [21]:
print('the result was {r:<13.4f}'.format(r=result))
#the left asrrow pushes the nums to left most while keeping the width of 13

the result was 12.3452

In [22]:
print('the result was {r:>13.4f}'.format(r=result))
#the right asrrow pushes the nums to right  most while keeping the width of 13

the result was       12.3452

In [28]:
print('the result was {r:^10.4f}'.format(r=result))
#the up arrow centrelizes the nums with the width

the result was  12.3452

In [4]:
print('the result was {r:+9.4f}'.format(r=result))
#any positvie num is prceded by + symbol while negatives are precded by -

the result was -1200.3452

In [35]:
print('the result was {r:,.4f}'.format(r=result))
#adds commas at the thousands places u cannot add a length decider when using comma

the result was 1,200.3452

In [36]:
print('the result was {r:+,.4f}'.format(r=result))
#both can be used in conjunction

the result was +1,200.3452

In [21]:
print('the result was {r: ^20.4f}'.format(r=result))
#the thing before ther centrealiser or what ever wil fil blanks before the length is auto filling blank spaces

the result was      -1200.3452













                                 F STRINGS

In [ ]:
print('hello my name is {}'.format(name))

In [ ]:
print(f'hello my name is {name}')

In [ ]:
s='STRING'
f='FORMATED'
t='TWICE'
print(f'this is a {s} {f} {t}')









                                                      LISTS:21

In [23]:
mylist=['one','two','three','4']

In [24]:
list1=['hello']

In [25]:
type(list1[0])

str

In [26]:
type(list1)

list

In [27]:
list2=['there','world']

In [28]:
print(list1+list2)

['hello', 'there', 'world']

In [30]:
combined_list=(list1+list2)

In [36]:
print(combined_list)

['hello', 'there', 'world', 'hello', ['hello']]

In [32]:
list1

['hello']

In [35]:
combined_list.append(list1)

In [37]:
mylist=['one','two','three','4']

In [38]:
mylist[-1]='fourth'

In [39]:
mylist

['one', 'two', 'three', 'fourth']

In [40]:
mylist.append('fifth')

In [41]:
mylist

['one', 'two', 'three', 'fourth', 'fifth']

In [42]:
mylist.pop(-1)

'fifth'

In [ ]:
mylist

In [43]:
popped_from_mylist=mylist.pop()

In [44]:
print(popped_from_mylist)

fourth

In [45]:
mylist

['one', 'two', 'three']

In [46]:
newlist=[0,1,3,5,6,7,9,2,4,8]

In [47]:
newlist.sort()

In [48]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(newlist.reverse())
newlist

# def ()

None

In [52]:
a=1
def temp():
    global a
    a=20

In [54]:
print(temp())

None

In [ ]:
newlist[2:9]

    
    
    
    
    
    
    
    
    
    
    
                               DICTS:23

In [56]:
cost={'cost_of_water':30,'cost_of_fries':120}

In [57]:
cost["cost_of_water"]

30

In [59]:
dict={'list in dict':[1,'str in list in dict',1.3],'person':{'name':'zaynul'}}

In [61]:
dict['person']['name'].upper()

'ZAYNUL'

In [63]:
dict['list in dict'].append(1)

In [68]:
cost

{'cost_of_water': 20, 'cost_of_fries': 120, 'cost of burger': 300}

In [65]:
cost['cost of burger']=300      #appedning value in a dict

In [67]:
cost['cost_of_water']=20        #replacing a value in dict

In [70]:
print(cost.keys())
print([i for i in cost.items()])
print(cost.values())
print(cost.fromkeys('cost'))

dict_keys(['cost_of_water', 'cost_of_fries', 'cost of burger'])
[('cost_of_water', 20), ('cost_of_fries', 120), ('cost of burger', 300)]
dict_values([20, 120, 300])
{'c': None, 'o': None, 's': None, 't': None}

In [71]:
l='name1 name2 name3 name4'.split()
D={}.fromkeys(l,'a')
D

{'name1': 'a', 'name2': 'a', 'name3': 'a', 'name4': 'a'}

In [72]:
print(list(cost.values()))

[20, 120, 300]

In [ ]:
cost.items()

dict_items([('cost_of_water', 30), ('cost_of_fries', 120)])











                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 TUPlES

In [ ]:
#tuples are immutable

In [73]:
a=(3,2,31,1,1,1,1,11)
t =(1,'hello',{'gretting':'hello'})
type(a)
type(t[2])

dict

In [22]:
print(a.count(1))
print(a.index(1))

4
3

In [ ]:




                                #SETS

In [ ]:
set1= set()
set1

set()

In [26]:
set1.add(1)
set1.add(2)
set1.add(3)
set1

{1, 2, 3}

In [2]:
a={1,1,1,1,2,2,2,2,2,2,3,3,3,3,3}

In [3]:
set1= set(a)
set1

{1, 2, 3}

In [4]:
set2=set('mississippi')
set2

{'i', 'm', 'p', 's'}

In [5]:
set3=set('12324435452')
set3

{'1', '2', '3', '4', '5'}

In [1]:
#add
s={1,2,3,4}
print(s)
s.add(7)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 7}

In [3]:
s={1,23,4}
print(s)
s.clear()
print(s)

{1, 4, 23}
set()

In [9]:
s={1,2,3,4,5}
s1={4,5,6,7}

print(s.difference(s1))
# print(s.difference_update(s1))

{1, 2, 3}

In [7]:
s={1,2,3,4,5}
s1={4,5,6,7}

print(s.difference_update(s1))
print(s)

None
{1, 2, 3}

In [11]:
s={1,2,3,4,5}
s1={4,5,6,7}
print(s)
print(s.discard(2))
print(s)

{1, 2, 3, 4, 5}
None
{1, 3, 4, 5}

In [ ]:
s={1,2,3,4,5}
s1={4,5,6,7}
print(s.intersection(s1))
s.intersection_update(s1)

{4, 5}

In [22]:
s={1,2,3,4,5}
s1={4,5,6,7}
print(s.isdisjoint({5,}))
print()

False

In [27]:
print(s)
print(s.issuperset({3}))
print(s.issubset({3}))

{1, 2, 3, 4, 5}
True
False

In [32]:
s={1,2,3,5,4}
print(s)
s.remove(2)
print(s)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [35]:
s={1,2,3,4,5}
s1={4,5,6,7}

print(s.symmetric_difference(s1))

{1, 2, 3, 6, 7}

In [36]:
s3=s.union(s1)
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
 
    
    
    
    
                            #boolean

In [ ]:
#True,False and None are caps sensitive

In [33]:
print(type(False))
print(type(True))

<class 'bool'>
<class 'bool'>

In [ ]:
1 > 2

In [ ]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        self.passw=None
        
        
    def passmaker(self):
        self.passw=self.name+str(self.age)
        

obj=person('abhi',19)










obj.passmaker()

obj.passw

'abhi19'

In [ ]:
strict name{
    
   int  pro1=1
    propp2=
}

In [34]:
b =None
b
type(b)

NoneType

In [ ]:






                                #Files

In [ ]:
#this only works in jupyter notebook

In [ ]:
%%writefile myfile.txt
hello this is a test file
wee woo

In [35]:
pwd

'C:\\Users\\91830'

In [2]:
myfile = open('myfile.txt','r')

In [6]:
myfile.read()

'hello world my name is zaynul \n this is a test file\nwith multiple lines'

In [7]:
21211111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 211111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 2111111111111111 31111111111111111111111111111 wqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwqqqqqqqqqqqqqqqqqwwwwwwwwwwwwwqqqqqqqqqqqqqqqqqqqqqqqqq eqqqqqqqqqqqqqqqqqqqqqqq rqqqqqqqqqqqqqqqq cA!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! FFDSA!!!!! !!!!!QL444444444444444444444444444444444444444444

SyntaxError: invalid syntax (2341783175.py, line 1)

In [13]:
myfile.seek(0)

0

In [9]:
myfile.read()

'hello world my name is zaynul \n this is a test file\nwith multiple lines'

In [ ]:
contents= myfile.read()
contents

In [12]:
myfile.readlines()

[]

In [15]:
myfile.close()

In [ ]:
#with this i dont need to worry abt closing the file

In [ ]:
with open('myfile.txt') as my_temporary_file:
    contents= my_temporary_file.read()

In [ ]:
contents

In [16]:
with open('myfile.txt',mode='w') as myfile:
    contents=myfile.read()

UnsupportedOperation: not readable

In [ ]:
contents

In [ ]:
#r use to read
#w to write(will overwrite files or create new ones)
#a to append(will ad to the files)
#r+ is for reading and writing
#w+ is for writting adn reading (overwrites existing file)

In [20]:
%%writefile newfile1.text
this is a experimental script
this is for testing
blah blah blah blah

Overwriting newfile1.text

In [21]:
newfile1 = open('newfile1.text')

In [22]:
newfile1.close()

In [23]:
with open('newfile1.text',mode='r') as f:
    print(f.read())

this is a experimental script
this is for testing
blah blah blah blah

In [24]:
with open('newfile1.text',mode='a') as f:
    print(f.write('this is an appended line'))

24

In [25]:
with open('newfile1.text',mode='r') as f:
    print(f.read())

this is a experimental script
this is for testing
blah blah blah blah
this is an appended line

In [30]:
with open('modewfile.txt',mode='w') as f:
    print(f.write('i created this file using mode w'))

32

In [31]:
with open('modewfile.txt',mode='r') as f:
    print(f.read())

i created this file using mode w

In [22]:
#comparison operators
print(2==2,'hello'=='bye',2.0==2,2.0!=2.0,2>1,1<3,3>=2,3<=3)

True False True False True True True True

In [14]:
2 and 1 != 3

True

In [15]:
1 < 2 > 3

False

In [16]:
1<3 and 2>1

True

In [19]:
not (1<3 or 2<1)

False

In [ ]:
1<3 or 2<1

In [ ]:
# advanced data types quiz

#num to binary
# print(bin(1024))
#num to hexadecimal
# print(hex(1024))

#rounding num
#first parameter is num,second is how many places after decimal
round(5.2345235155,2)

# s="hello Mary how are you, are u feeling ok?"
# s.islower()

# set1={1,2,3,5,6,8}
# set2={3,1,7,5,6,8}
# print(set1.difference(set2))#what set 1 has that set 2 doesnt

# print(set1.union(set2))

# d={x:x*3 for x in range(5)}
# print(d)



# l=[1,2,3,4]
# print(l)
# l.reverse()
# print(l)

# l1=[3,1,7,5,6,8]
# l1.sort()
# print(l1)

#l2=l1.copy()#makes copy of array without poiinting to t
l=list(range(1,11))
d12={1:21,2:2,3:3,4:4,5:5,}
# print(d12.pop(1))
key=(5,6,7,8)
# print(d12.fromkeys(key,0))
# print(d12)
# print(l[::1])
s={1,2,3,4,5}
s.update((6,7,8))
print(s)
s1={1,True}
print(s1)
# print(s.pop())

{1, 2, 3, 4, 5, 6, 7, 8}
{1}

In [28]:
a=[i for i in range(1,11)]

for i in enumerate(a):
    print(i)
print(type(range(10)))

def geny(n):
    for i in range(1,n+1):
        yield i**3
print("-"*15)

r=iter(range(2,10))
next(r)
for i in r:
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)
<class 'range'>
---------------
3
4
5
6
7
8
9

In [3]:
l=[5,5,5,3,3,2,2,4,4]
l=list(set(l))
print(l)

[2, 3, 4, 5]

In [ ]:
print([1,2,3,4]*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
True

In [9]:

d12={ 1:21, 2:2, 3:3, 4:4, 5:5,}
print(d12)
d12.clear()
print(d12)
d12={ 1:21, 2:2, 3:3, 4:4, 5:5,}
print(d12)
d12.update({})
d12.update(d12.fromkeys([4,5,6,7,8],"skibidi"))
print(d12)
print(list(d12.items()))
# d12.keys()l
# d12.values()r
print(d12.get(19,"def"))
# print(d12)
d12.setdefault(19,'lol')
print(d12)
d12.popitem()
# d12.popitem()
# d12.pop()
d12.pop(1)
print(d12)
d12.update({})
print(d12)

{1: 21, 2: 2, 3: 3, 4: 4, 5: 5}
{}
{1: 21, 2: 2, 3: 3, 4: 4, 5: 5}
{1: 21, 2: 2, 3: 3, 4: 'skibidi', 5: 'skibidi', 6: 'skibidi', 7: 'skibidi', 8: 'skibidi'}
[(1, 21), (2, 2), (3, 3), (4, 'skibidi'), (5, 'skibidi'), (6, 'skibidi'), (7, 'skibidi'), (8, 'skibidi')]
def
{1: 21, 2: 2, 3: 3, 4: 'skibidi', 5: 'skibidi', 6: 'skibidi', 7: 'skibidi', 8: 'skibidi', 19: 'lol'}
{2: 2, 3: 3, 4: 'skibidi', 5: 'skibidi', 6: 'skibidi', 7: 'skibidi', 8: 'skibidi'}
{2: 2, 3: 3, 4: 'skibidi', 5: 'skibidi', 6: 'skibidi', 7: 'skibidi', 8: 'skibidi'}

In [13]:
s1={1,}
s1

{1}

In [ ]:
a=(1,)
print(a)
del a
# print(a)

(1,)

NameError: name 'a' is not defined