                                                  Functions

In [ ]:
def sayname():
    return 'hello'
sayname()

In [ ]:
def add_num(num1,num2):
    return num1+num2
result=add_num(1,2)

In [ ]:
#chcek if num is even
def iseven(a):
    if a%2==0:
        print(f'{a} is even')
    else:
        print(f'{a} is odd')
iseven(3)

In [ ]:
def iseven1(a):
    return a%2==0
iseven1(3)

In [ ]:
#funtion to see if an even num is in the list
def eveninlist(a):
    for i in a:
        if i%2==0:
            return True
        else:
            pass
    return False
'''when return is used it immedietly ends the function so if the first num is odd 
but the sec ond is even it wass pass flase anyways causde it cuts off after the first odd numebr
so we return after the list is finsished and no even is passed thru '''

In [1]:
#in the case of returning all even nums of the list 
def even_number_return(a):
    evennums=[i for i in a if i % 2 == 0]
    return evennums
even_number_return([1,23,34,4,5,6,76,7,8,90])

[34, 4, 6, 76, 8, 90]

In [ ]:
                                             #tuple unpacking with functions

In [1]:
#checking employ of the month
workhours=[('zaynul',122),('sakddn',13324),('lokesh',900)]
def employee_of_month(c):
    
    
    max=0
    
    employee1=''
    
    for employee,hours in c:
        if hours>max:
            max=hours
            employee_of_the_month=employee
        else:
            pass
    return (employee_of_the_month,max)
name,hoursworked=employee_of_month(workhours)

In [2]:
hoursworked

13324

In [ ]:
cups=[1,2,3,'ball',5,6,7]

In [ ]:
#python suffling item in list and guessing the location
from random import shuffle
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [ ]:
shuffled_list=shuffle_list(cups)

In [ ]:
shuffled_list

In [ ]:
def playerguessinput():
    shuffled_list=shuffle_list(cups)
    guess=int(input('guess where the ball is '))
    while guess> len(shuffled_list)-1:
        guess=int(input('input a value thats correct'))
    return guess

In [ ]:
def check_guess(shuffled,guess):
    if shuffled[guess-1]=='ball':
        return "u guessed right"
    else:
        print("u guessed wrong")
        print(shuffled)

In [18]:
cups=[1,2,3,'ball',5,6,7]
from random import shuffle
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

def playerguessinput():
    shuffled_list=shuffle_list(cups)
    guess=int(input('guess where the ball is '))
    while guess> len(shuffled_list):
        guess=int(input('input a value thats correct'))
    return guess


def check_guess(shuffled,guess):
    if shuffled[guess-1]=='ball':
        print("u guessed right")
        print(shuffled)
    else:
        print("u guessed wrong")
        print(shuffled)
        
shuffled_list=shuffle_list(cups)
guessinput=playerguessinput()
check_guess(shuffled_list,guessinput)

guess where the ball is 1
u guessed right
['ball', 2, 3, 5, 7, 6, 1]

In [ ]:
                        #*args and **kwargs

In [ ]:
#*args is a parameter u can fill in functions and it turns all the positional parameters as a tuple and u can put as man as u want

In [19]:
#args is inot necessarrily the word that has to be used but is conventional

def sumfunc(*args):
    return sum(args)
sumfunc(12,34,5,6,87,9,86)

239

In [ ]:
sum()

In [20]:
def iterate_args(*args):
    for i in args:
        print(i)
iterate_args(1,2,3,4,5,6,7,89,23)

1
2
3
4
5
6
7
89
23

In [35]:
#**kwargs bulds a dictionary 
def myfunc(**kwargs):
        print('my language of choice is {}'.format(kwargs['language']))
    
myfunc(language='python',food='spicy',hieght=6)

my language of choice is python

In [3]:
def kwargss(**kwargs):
    print(list(kwargs.keys()))
kwargss(food='potato',tpye='spicy',genre='fastfood')

['food', 'tpye', 'genre']

In [4]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('i would like to {a} {k}'.format(a=args[0],k=kwargs['food']))
myfunc(1,2,3,4,5,6,food='potato')

(1, 2, 3, 4, 5, 6)
{'food': 'potato'}
i would like to 1 potato

In [ ]:
                           #functions worksheet

In [ ]:
def lesser_of_two_evens(*args):
    for i in args:
        if i%2==0:
            pass
        else:
            return max(args)
    return min(args)

In [ ]:
def animal_crackers(text):
    if text.split()[0][0].lower==text.split()[1][0].lower:
        return True
    else:
        return False

In [ ]:
animal_crackers('Crazy Kangaroo')

In [ ]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

In [ ]:
def old_macdonald(name):
    out=''
    for i in range(len(name)):
        if i==0 or i==3:
            out+=name[i].upper()
        else:
            out+=name[i]
    return out

In [ ]:
old_macdonald('macdonald')

In [ ]:
def master_yoda(text):
    out=''
    for i in text.split()[::-1]:
        out+=i+' '
    return out

In [ ]:
master_yoda('I am home')

In [ ]:
def almost_there(n):
    if (n-100) in range(90,111):
        return True
    elif (200-n) in range(190,211):
        return True 
    else:
        return False

In [ ]:
almost_there(209)

In [ ]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True

In [ ]:
has_33([1, 3, 3])

In [6]:
def paper_doll(text):
    out=''
    for i in text.split():
        for q in range(len(i)):
            out+=i[q]*3
        out+=' '
    return out

In [7]:
paper_doll('Hello')

'HHHeeellllllooo '

In [ ]:
'HHHeeellllllooo'=='HHHeeellllllooo'

In [ ]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return(f'your sum is {(a+b+c)}')
    elif 11 in (a,b,c):
               if (a+b+c)-10<=21:
                   return (f'your sum is {(a+b+c)-10}')
    elif 11 in (a,b,c):
               if (a+b+c)-10>21:
                return 'bust'
    else:
        return 'bust'

In [ ]:
blackjack(9,9,11)

In [ ]:
def summer_69(arr):
    sum1=0
    add=True
    for i in arr:        
        while add:
            if i!=6:
                sum1+=i
                break
            else:
                add=False
        while not add:
            if i!=9:
                break
            else:
                add=True
    return  sum1

In [ ]:
summer_69([2, 1, 6, 9, 11])

In [ ]:
def spy_game(nums):
    code=''
    for i in nums:
        if i==0 or i==7:
            code+=str(i)
    if '007' in code:
        return True
    else:
        return False

In [ ]:
spy_game([1,2,4,0,0,7,5])

In [ ]:
spy_game([1,0,2,4,0,5,7])

In [ ]:
spy_game([1,7,2,0,4,5,0])

In [ ]:
#prime nums until inputed number
a=[i for i in range(3,7,2)]
a

In [8]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [9]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
#worksheet done

In [ ]:
                                    #Lambda functions map and filter

In [11]:
def squaring(q):
    return q**2

In [12]:
my_nums=[1,2,3,4,5,6,7]

In [3]:
map(squaring,my_nums)

In [4]:
for i in map(squaring,my_nums):
    print(i)

1
4
9
16
25
36
49

In [13]:
list(map(squaring,my_nums))

[1, 4, 9, 16, 25, 36, 49]

In [1]:
def splicer(stri):
    if len(stri)%2==0:
        return 'EVEN'
    else:
        return 'ODD'

In [15]:
names=['zauynul','aryan','suryansh','ishan']

In [3]:
list(map(splicer,names))

['ODD', 'ODD', 'EVEN', 'ODD']

In [ ]:
#filter puts in a zip every number that returns True in func

In [2]:
def check(a):
    return a%2==0

In [3]:
list(filter(check,range(10)))

[0, 2, 4, 6, 8]

In [ ]:
#LAMBDA FUNCS

In [ ]:
#def squaring(q):   is same as     def squaring(q): return q**2
#    return q**2

In [ ]:
# squaring(2)
l={}
k=[ ]
d1={l[i:}

[(1, 2), (1, 2), (1, 2), (1, 2, 3)]

In [ ]:
squaring=lambda q: q**2

In [ ]:
list(map(lambda q: q**2,my_nums))

In [ ]:
list(filter(lambda num: num%2==0,my_nums))

In [16]:
list(map(lambda str1: str1[0],names))

['z', 'a', 's', 'i']

In [ ]:
                                #nested statements  and scope

In [ ]:
x=25

In [ ]:
def printer():
    x=50
    return x

In [ ]:
print(printer())

In [ ]:
x

In [ ]:
 #python uses LEGB rule

In [ ]:
#LEGB is the order python looks for variables 
#L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

#E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

#G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

#B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [ ]:
#lambda num: num+2
#here num is local

In [ ]:
name='this is a global string'
def greet():
    name='enclosing'
    def helllo():
        name='locally'
        print('hello '+name)
    helllo()

greet()

In [5]:

def global1(x):
    print(f'x is{x} globally')
    x=2122
    print(f'x is {x}')

In [13]:
global1()

x is50 globally
x is 2122 changed applicable to global

In [4]:
x=50

In [11]:

def global1():
    global x  #declaring the usage of global x
    print(f'x is{x} globally')
    x=2122
    print(f'x is {x} changed applicable to global')

In [14]:
x

2122

In [ ]:
                                #methonds and functions homework

In [ ]:
def vol(r):
    return (f'the volume is {(22/7)*(4/3)*(r**3)}')
vol(2)

In [ ]:
def ran_check(num,low,high):
    return num in range(low,high+1)
ran_check(5,2,7)

In [9]:
def up_low(s):
    upper=0
    lower=0
    for i in s:
        if i.isupper():
            upper+=1
        elif i.islower():
            lower+=1
    return (f"in '{s}' there are {upper} upper  case letters and {lower} lower  case letters ")

In [10]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

"in 'Hello Mr. Rogers, how are you this fine Tuesday?' there are 4 upper  case letters and 33 lower  case letters "

In [11]:
def unique_list(lst):
    newlst=[]
    for i in lst:
        if i in newlst:
            pass
        else:
            newlst.append(i)
    return newlst

In [12]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
def multiply(numbers):  
    sum1=1
    for i in numbers:
        sum1*=i
    return sum1

In [16]:
multiply([1,2,3,-4])

-24

In [19]:
def palindrome(s):
    return s.lower()==s.lower()[::-1]
palindrome('helleh')

True

In [ ]:
# sorted func

# sorted(l,key=func)
sorted(list(range(10,0,-1)),key=lambda a  : 1/a)
# func passed in key must return a value  and for what ever value each element passes the list is sorted based on that

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
d={i:i**2 for i in range(1,6)}
l=[(i,10/i) for i in range(1,11)]
print(sorted(l,key=lambda a:a[1]))

[(10, 1.0), (9, 1.1111111111111112), (8, 1.25), (7, 1.4285714285714286), (6, 1.6666666666666667), (5, 2.0), (4, 2.5), (3, 3.3333333333333335), (2, 5.0), (1, 10.0)]