In [ ]:
#if some cindition is true 
#  it does action and elif for a anither case in case the original condition isnt met
#if none of the other conditions are execute this

In [ ]:
   
    
    
    
                        #if statement

In [ ]:
if True:
    print('true')
if 3>2:
    print('its true')

In [ ]:
hungry=True
if not hungry:
    print('feed me')
else:
    print('not hungry')

In [ ]:
status='will take time'
if status=='OMW':
    print('coming')
elif status=='will take time':
    print('will be late')
else:
    print('not coming')

In [ ]:






                             #for loops



#key words: break,continue,pass

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
listsum=0
for i in a:
    listsum=listsum+i
print(listsum)

In [ ]:
b='hello there'

In [ ]:
for _ in b:
    print(_)

In [ ]:
tup1=(1,2,3,4,5)
for _ in tup1:
    print(_)

In [1]:
mylist=[(1,2),(3,4),(5,6)]
len(mylist)
for (a,b) in mylist:
    print(a)
print('\n')
for a,b in mylist:
    print(b)

1
3
5


2
4
6

In [3]:
dic1={'k1':1,'k2':2,'k3':3}
for v in dic1.items():
    print(v)
print('')
for key,value in dic1.items():
    print(value)
for key,value in dic1.items():
    print(key)
print('')
for v in dic1.values():
    print(v)
for v in dic1.keys():
    print(v)

('k1', 1)
('k2', 2)
('k3', 3)

1
2
3
k1
k2
k3

1
2
3
k1
k2
k3

In [ ]:










                            #while loops

In [ ]:
a=1
while a<10:
    a+=1
    print(a)
else:
    print('a is more than 10')

In [ ]:
#PASS works as a place holder to stop errors

In [1]:
x='zaynul'
for i in x:
    pass

In [ ]:
#continue: goes to the top of the closest enclosing loop

In [3]:
x='zaynul'
for i in x:
    if i=='l':
        continue
    print(i)

z
a
y
n
u

In [ ]:
#break:breaks out of the current closest enclsing loop

In [3]:
a=0
while a<10:
    a+=1
    print(a)
    if a==6:
        break

1
2
3
4
5
6

In [1]:


                        #operators

In [1]:
#all returns true if all bools(x) for x in the iterable are true
all(i < 10 for i in [1, 3, 5, 7])

True

In [2]:
#gives abseloute value
print(abs(-20))

20

In [4]:
#range operator

for num in range(2,15,2):
    print(num)

2
4
6
8
10
12
14

In [4]:
c=list(range(1,11))
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
index_count=0
for letter in 'abcde':
    print(f'the letter at index {index_count} the letter is {letter}')
    index_count+=1

the letter at index 0 the letter is a
the letter at index 1 the letter is b
the letter at index 2 the letter is c
the letter at index 3 the letter is d
the letter at index 4 the letter is e

In [13]:
index=0
word='abcde'
for l in word:
    print(word[index])
    index+=1

a
b
c
d
e

the letter at index (0, 'a') is x
the letter at index (1, 'b') is x
the letter at index (2, 'c') is x
the letter at index (3, 'd') is x
the letter at index (4, 'e') is x

In [15]:
#instead of above we can use enumerate operator
word='abcde'
for index,letter in enumerate(word):
    print(f'the letter at index {index} is {letter}')

the letter at index 0 is a
the letter at index 1 is b
the letter at index 2 is c
the letter at index 3 is d
the letter at index 4 is e

In [8]:
a=enumerate(word)
a

In [9]:
#zip function
L1=['1',"2",'3']
L2=["4",'5','6']
L3=['7','8','9']
L4=zip(L1,L2,L3)
for a,b,c in L4:
    print(a,b,c)

1 4 7
2 5 8
3 6 9

In [3]:
list(zip(L1,L2,L3))

[('1', '4', '7'), ('2', '5', '8'), ('3', '6', '9')]

In [23]:
'12' in L3

False

In [11]:
L3=[12, 13, 14, 15, 16]
12 in L3

True

In [26]:
'a' in 'hello world'

False

In [1]:
mylist=list(range(1,11))
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
mylist5=[12,3245,66,33,86]
sorted(mylist5)

[12, 33, 66, 86, 3245]

In [25]:
from random import shuffle

In [26]:
shuffle(mylist)

In [28]:
from random import randint

In [36]:
mynum2=randint(0,100)

In [39]:
mynum2

32

In [40]:
input('enter ur num here')

enter ur num here23

'23'

                      
                      
                      
                      
                      
                      
                      
                      
                        List Comprehnsions

In [42]:
#strlist=[]
#mystring='hello'
#for l in mystring:
#    strlist.append(l)
#strlist   

#instead of this u can do

strlist=[l for l in 'hello']
strlist

['h', 'e', 'l', 'l', 'o']

In [48]:
mylist=[n for n in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
mylist=[n for n in range(0,25) if n%2==0]
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [47]:
celcius=[1,3,7,12,30]
farenhite=[((9/5)*l+32) for l in celcius]
farenhite

[33.8, 37.4, 44.6, 53.6, 86.0]

In [5]:
results=[x if x%2==0 else 'odd' for x in range(1,11)]
results

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [5]:
results=[x  for x in range(1,11) if x%2==0]

In [ ]:
results=[x if x%2==0 else 'odd' for x in range(1,11)]

In [57]:
#mylist1=[]
#for x in [2,3,4]:
#    for y in[1,10,100]:
#        mylist1.append(x*y)
#mylist1
#instead of that we can do
mylist1=[x*y for x in [2,3,4] for y in [1,10,100]]
mylist1

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [1]:
                     #python test

In [2]:
st = 'Print only the words that start with s in this sentence'
st=st.split()
for i in st:
    if i[0]=='s':
        print(i)

start
s
sentence

In [4]:
a=[l for l in range(0,11)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a=[l for l in range(0,51) if l%3==0]
a

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [7]:
st = 'Print every word in this sentence that has an even number of letters'
st=st.split()
for i in st:
    if len(i)%2==0:
        print(i)

word
in
this
sentence
that
an
even
number
of

In [11]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print('Fizzbuzz')
    elif i%5==0:
        print('Buzz')
    elif i%3==0 :
        print('Fizz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
st = 'Create a list of the first letters of every word in this string'
a=[i[0] for i in st.split()]
a

                                                   
                                                   
                                                   
                                                   
                                                   
                                                   
                                                                                                                                                       
                                                  
                                                                                                                                                     #FUNCTIONS

In [20]:
#def keyword is used to make functions 
#doing basic funtions

In [24]:
def say_hello(lols):
    print(f'hello {lols}')
say_hello('zaynul')

hello zaynul

In [ ]:
def